{% extends "layout.html" %} 
{% block title %} Graph {% endblock %} 

{% block content %}

<div class="container">
    <h1 class="display-4 text-center">SNA Analysis</h1>
    <div class="row">
        <div class="col-6 text-left align-self-center">
            <h4 class="font-sm">Node: User | Edge: Reply</h4>
        </div>
        <div class="offset-2 col-4 text-right text-wrap">
            <h4 class="font-sm">Current Metric: {{ metric }}</h4>
            <h4 class="font-sm">Current Layout: {{ layout }}</h4>
        </div>
    </div>
    <div class="w-100 text-right">
        <a class="btn btn-secondary" href="/preference">Select New Metric/Layout</a>
    </div>
</div>

<div class="container">
{%for channel in channels %}
    <div class="card my-3 p-3">
        <div class="card-header bg-dark">
            <h1 class="display-5 card-title">{{ channel.name }}</h1>
        </div>
        <div class="card-body">
            <img src="{{ channel.img }}" class="rounded mx-auto d-block"  alt="{{ channel.name }}">
        </div>
        <table id="dt-table" class="display table table-light">
            <thead>
                {% if channel.metric_id == 0 or channel.metric_id == 2 %}
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Value</th>
                    </tr>
                {% else %}
                    <tr>
                        <th scope="col">User1</th>
                        <th scope="col">User2</th>
                    </tr>
                {% endif %}
            </thead>
            <tbody>
                {% if channel.metric_id == 0 or channel.metric_id == 2 %}
                    {% for i in channel.metric_rate %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ channel.metric_rate[i] }}</td>
                        </tr>
                    {% endfor %}
                    
                {% else %}
                    {% for i in channel.metric_rate %}
                        <tr>
                            <td>{{ i[0] }}</td>
                            <td>{{ i[1] }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                
            </tbody>
        </table>
        <!--
            metric_id ye göre listeleme uygulanacak.
            (table eklenerek de çözebilirz, datatable)
            metric_id=0, 1 ise dictionary
            metric_id=2 ise tuple.

        degree_centrality: show can be sorted.
        {'omertopal46': 0.6000000000000001, 'bernaakay': 0.2, 'muhammedsalihyildiz18': 0.2, 'mehmet-can-gun': 0.0, 'mehmetcangun14': 0.4, 'mehmetcaangun': 0.2}

        bridges: show bridged users. connected
        [('omertopal46', 'mehmetcaangun'), ('omertopal46', 'mehmetcangun14'), ('omertopal46', 'bernaakay'), ('muhammedsalihyildiz18', 'mehmetcangun14')]

        pagerank: show with sorted high score. ul, li Sorted table. 
        - parse keys as user_id
        {'U02S7NX6HLN': 0.3062042500445877, 'U02S7NZD0MC': 0.1332350919390944, 'U02T33ARC81': 0.17136191876852694, 'U02T608HGQH': 0.02912621359223301, 'U02TE5XCZGQ': 0.2788918728898947, 'U02TH2VHX40': 0.08118065276566372}
        -->

    </div>
{%endfor%}
</div>

<script>
    $(document).ready(function(){
        $('.display').DataTable();
    });
</script>

{% endblock %}