<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='custom.css') }}"
    />
  
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="static/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    
    <title>{% block title %}{% endblock %}</title>
    
  </head>
  <body>
    <header>
      {% include "includes/navbar.html" %}
    </header>
    <section class="container-fluid mb-5 py-5 bg-dark bg-opacity-90 text-center">
      {% block content %}{% endblock %}
    </section>
    <footer class="footer my-5 text-center">
      <div class="container">SNA4Slack - Social Network Analysis for Slack Apps</div>
      <a class="navbar-brand" href="/">
        <img src="https://cdn-icons-png.flaticon.com/512/2111/2111615.png" height="50" alt="">
      </a>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"
    ></script>

  </body>
</html>