{% extends "layout.html" %} 
{% block title %} Preference {% endblock %} 

{% block content %}

<div class="container text-center">
  <h2 class="">Select Metric and Layout</h2>
  <form action="{{ url_for('progress_bar_page') }}" method="post">
    <div class="pref-groups">
      <div class="pref-radio-group">
        {%for item in metric_data[0] %}
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="metric"
            id="{{ 'metric' ~  metric_data[2][loop.index-1] }}"
            value="{{ metric_data[2][loop.index-1] }}"
            {{ "checked" if loop.index == 1 else "" }}
          />
          <label class="form-check-label" for="{{ 'metric' ~ metric_data[2][loop.index-1] }}"> {{ item }} </label>
        </div>
        {%endfor%}
      </div>
      <div class="pref-radio-group">
        {%for item in layout_data[0] %}
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="layout"
            id="{{ 'layout' ~ layout_data[2][loop.index-1] }}"
            value="{{ layout_data[2][loop.index-1] }}"
            {{ "checked" if loop.index == 1 else "" }}
          />
          <label class="form-check-label" for="{{ 'layout' ~ layout_data[2][loop.index-1] }}"> {{ item }} </label>
        </div>
        {%endfor%}
      </div>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="container mx-auto col-6 mt-3 alert alert-danger text-dark">
        {% for message in messages %}
          <h5>{{ message }}</h5>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <div class="charts">
      <canvas id="metricChart" width="600" height="400"></canvas>
      <canvas id="layoutChart" width="600" height="400"></canvas>
    </div>
    <div>
      <button type="submit" class="btn btn-dark mt-5 find-metric-btn">
        FIND THE METRICS
      </button>
    </div>
  <form>
</div>
<script src="{{ url_for('static', filename='prefChart.js') }}"></script>
<script>
  const COLORS = [
    '#4dc9f6',
    '#f67019',
    '#f53794',
    '#537bc4',
    '#acc236',
    '#166a8f',
    '#00a950',
    '#58595b',
    '#8549ba'
  ];

  Chart.defaults.global.responsive = false;
  // define the chart data
  var metricData = {
    labels: {{ metric_data[0] | safe }},
    datasets: [
      {
        label: "Metric Dataset",
        data: {{ metric_data[1] | safe }},
        backgroundColor: COLORS,
        hoverOffset: 4,
      },
    ],
  };
  // get chart canvas
  var ctx = document.getElementById("metricChart").getContext("2d");
  // create the chart using the chart canvas
  var metricChart = new Chart(ctx, {
    type: "doughnut",
    data: metricData,
    options: { 
      legend: {
          labels: {
              fontColor: "white",
              fontSize: 16
          }
      },
    }
  });

  var layoutData = {
    labels: {{ layout_data[0] | safe }},
    datasets: [
      {
        label: "My First Dataset",
        data: {{ layout_data[1] | safe }},
        backgroundColor: COLORS.reverse(),
        hoverOffset: 4,
      },
    ],
  };
  // get chart canvas
  var ctx = document.getElementById("layoutChart").getContext("2d");
  // create the chart using the chart canvas
  var layoutChart = new Chart(ctx, {
    type: "doughnut",
    data: layoutData,
    options: { 
      legend: {
          labels: {
              fontColor: "white",
              fontSize: 16
          }
      },
    }
  });
</script>

{% endblock content %}
