  
{% extends "layout.html" %}
<!-- num will  be connect to API -->

{% block content %}
<div class="container">
  <div class="my-3 p-3">
    <h1 class="display-3">Step 1</h1>
    <h2 id="step-1-title" class="display-4 mt-2">
      Extracting Data
    </h2>
    <div class="progress">
      <div id="step-1-progress" class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
  </div>
  <div class="my-3 p-3">
    <h1 class="display-3">Step 2</h1>
    <h2 id="step-2-title" class="display-4 mt-2">
      Calculating SNA
    </h2>
    <div class="progress">
      <div id="step-2-progress" class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
  </div>
  <div class="toast" data-delay="3000" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="mr-auto">Error!</strong>
    </div>
    <div id="toast-body" class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    $('.toast').toast('hide')

    $.post( "/evaluate_metric_layout", { step: 1 }, async(res) => {
      if(res.data === true){
        
        await setTimeout(() => {
          $("#step-1-progress").removeClass("bg-primary")
          $("#step-1-progress").addClass("bg-success")
          $("#step-1-title").text("Extracted Data")
          $("#step-2-progress").removeClass("bg-warning")
          $("#step-2-progress").addClass("bg-primary")
        }, timeout = 2000)
        
        $.post( "/evaluate_metric_layout", { step: 2 }, async(res) => {
          if(res.data === true){

            await setTimeout(() => {
              $("#step-2-progress").removeClass("bg-primary")
              $("#step-2-progress").addClass("bg-success")
              $("#step-2-title").text("Calculated SNA")
              window.location.href = "/graph"
            }, timeout = 5000)

          } else {
            
            

            setTimeout(() => {
              $("#step-2-progress").removeClass("bg-primary")
              $("#step-2-progress").addClass("bg-danger")
              
          
              $('.toast').toast('show')
              $("#toast-body").text("An error occured while calculating SNA.")
              window.location.href = "/"
            }, 5000)
          }
        })
      } else {

        await setTimeout(() => {
          $("#step-1-progress").removeClass("bg-primary")
          $("#step-1-progress").addClass("bg-danger")
          
          $('.toast').toast('show')
          $("#toast-body").text("An error occured while extracting data.")
          window.location.href = "/"
        }, 5000)
      }
    });
  });
</script>
{% endblock content %}
