  
{% extends "layout.html" %}
<!-- num will  be connect to API -->

{% block content %}
  {% if num >= 0.6 %}
  <img src="https://raw.githubusercontent.com/dedjou/images/main/images/3_titled.png" height=600 alt="">
  {% elif num >= 0.4 %}
  <img src="https://raw.githubusercontent.com/dedjou/images/main/images/2_titled.png" height=600 alt="">
  {% elif num >= 0.2 %}
  <img src="https://raw.githubusercontent.com/dedjou/images/main/images/1_titled.png" height=600 alt="">
  {% else %}
  <img src="https://raw.githubusercontent.com/dedjou/images/main/images/0_titled.png" height=600 alt="">
  {% endif %}
<script>
  $( document ).ready(function() {
    $.post( "/evaluate_metric_layout", { step: 1 }, (res) => {
      if(res.data === true){
        // ilk topu yeşil yap.
        // next step.
        $.post( "/evaluate_metric_layout", { step: 2 }, (res) => {
          if(res.data === true){
            // 2.topu yeşil yap.
            // wait 5 seconds
            // redirect to the graph page.
            setTimeout(() => {
              window.location.href = "/graph"
            }, 5000)
          } else {
            // ilk top yeşil kalsın, 2.top kırmızı
            // hata oluştursa ekrana message bas ve anaysafaya dön.
            alert("Error occured in Calculating SNA, returning the home page")
            setTimeout(() => {
              window.location.href = "/"
            }, 3000)
          }
        })
      } else {
        // ilk topu kırmızı tut.
        // hata oluştursa ekrana message bas ve anaysafaya dön.
        alert("Error occured in Extracting Data, returning the home page")
        setTimeout(() => {
          window.location.href = "/"
        }, 3000)
      }
    });
  });
</script>
{% endblock content %}
