{% extends "layout.html" %} 
{% block title %} Statistics {% endblock %} 

{% block content %}

<div class="container text-center">
    <h1 class="display-3">Statistics</h1>
    <div class="charts">
      <canvas id="userChart" width="600" height="400"></canvas>
      <canvas id="channelChart" width="600" height="400"></canvas>
    </div>
    
    <div class="charts">
        <canvas id="metricChart" width="600" height="400"></canvas>
        <canvas id="layoutChart" width="600" height="400"></canvas>
    </div>
</div>
<script src="static/prefChart.js"></script>
<script>
  const COLORS = [
    '#4dc9f6',
    '#f67019',
    '#f53794',
    '#537bc4',
    '#acc236',
    '#166a8f',
    '#00a950',
    '#58595b',
    '#8549ba'
  ];

  Chart.defaults.global.responsive = false;
  // define the chart data
  var metricData = {
    labels: {{ metric_data[0] | safe }},
    datasets: [
      {
        label: "Metric Dataset",
        data: {{ metric_data[1] | safe }},
        backgroundColor: COLORS,
        hoverOffset: 4,
      },
    ],
  };
  // get chart canvas
  var ctx = document.getElementById("metricChart").getContext("2d");
  // create the chart using the chart canvas
  var metricChart = new Chart(ctx, {
    type: "doughnut",
    data: metricData,
    options: { 
      legend: {
          labels: {
              fontColor: "white",
              fontSize: 16
          }
      },
    }
  });

  var layoutData = {
    labels: {{ layout_data[0] | safe }},
    datasets: [
      {
        label: "My First Dataset",
        data: {{ layout_data[1] | safe }},
        backgroundColor: COLORS.reverse(),
        hoverOffset: 4,
      },
    ],
  };
  // get chart canvas
  var ctx1 = document.getElementById("layoutChart").getContext("2d");
  // create the chart using the chart canvas
  var layoutChart = new Chart(ctx1, {
    type: "doughnut",
    data: layoutData,
    options: { 
      legend: {
          labels: {
              fontColor: "white",
              fontSize: 16
          }
      },
    }
  });
  // User Chart
  const userdata = {
  labels: ["Total User", "User Having Files"],
  datasets: [{
    barPercentage: 1,
    label: 'User Statistic',
    data: [ {{ data.total_user }}, {{ data.user_having_files }} ],
    backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
    ],
    borderColor: [
      'rgb(255, 99, 132)',
      'rgb(255, 159, 64)',
    ],
    borderWidth: 1
    }]
  };

  var ctx2 = document.getElementById("userChart").getContext("2d");

  var userChart = new Chart(ctx2, {
    type: "bar",
    data: userdata,
    options: {
      scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true
            }
        }]
      },
      legend: {
          labels: {
              fontColor: "white",
              fontSize: 16
          }
      },
    }
  });

  const channelData = {
  labels: ["Avg. Channel Length in Files", "Avg. User Length in Files"],
  datasets: [{
    barPercentage: 1,
    label: 'Channel Statistic',
    data: [ {{ data.avg_channel_length_in_files }}, {{ data.avg_user_length_in_files }} ],
    backgroundColor: [
      'rgba(54, 162, 235, 0.2)',
      'rgba(153, 102, 255, 0.2)',
    ],
    borderColor: [
      'rgb(54, 162, 235)',
      'rgb(153, 102, 255)',
    ],
    borderWidth: 1
    }]
  };

  var ctx3 = document.getElementById("channelChart").getContext("2d");

  var channelChart = new Chart(ctx3, {
    type: "bar",
    data: channelData,
    options: { 
      scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true
            }
        }]
      },
      legend: {
          labels: {
              fontColor: "white",
              fontSize: 16
          }
      },
    }
  });
</script>

{% endblock content %}
