{% extends "layout.html" %}
{% block title %} Home Page {% endblock %}
<!-- API connection is needed  for  zip sending -->

{% block content %}
  <h2 class="display-4 is-dark" style="text-align: center;" >Upload a Slack Zip File</h2>
  <nav style="text-align: center;">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="container mx-auto col-6 mt-3 alert alert-danger text-dark">
        {% for message in messages %}
          <h5>{{ message }}</h5>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="file" accept=".zip" class="btn btn-dark p-5 mx-5 my-2" width="300" height="500" />
      <hr/>
      <input type="submit" value="Upload" class="btn btn-light mt-5 px-5" >
    </form>
  </nav>
{% endblock content %}
